/* some style */
.dot {
    stroke: #eeeeff;
    cursor: pointer;
}

.toolbar {
    padding: 0;
    margin: 0 auto;
    display: inline;
    position: relative;
    width: 300px;
}

.dot-filled {
    stroke: #eeeeff;
}

.dot:hover {
    stroke: #ddddee;
    fill: #000;
}